*, *:before, *:after {
    box-sizing: border-box;
    
    border: 2px dotted red;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}

h1 {
    margin: 50px auto;
    color: purple;
}

.calculator {
    margin: 0 auto;
    width: 440px;
    height: 440px;
    
    box-shadow: 10px 10px 5px #3f3f3f;
    
    display: flex;
    flex-direction: column;
}

.buttons {
/*
    margin-top: 5px;
    margin-bottom: 5px;
*/
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.button {
    background-color: yellow;
    width: 50px;
    
    font-size: 1.2em;
    
    display: flex;
    justify-content: center;
    align-items: center;
}