*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    color: #212121;
}

.calculator {
    margin: 100px auto;
    width: 400px;
    
    box-shadow: 0 0 50px 5px #3f3f3f;
    
    display: flex;
    flex-direction: column;
    align-content: stretch;
    
    border: 10px solid black;
}

.screen {
    padding: 0 15px;
    background: #0b0;
    text-align: right;
    font-size: 1.5em;
    
    border-bottom: 5px solid black;
}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    
    border-bottom: 1px solid #ffff02;
}
.buttons:last-child {
    border-bottom: none;
}

.button {
    width: 100%;
    
    font-size: 1.2em;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-right: 1px solid #ffff02;
}
.button:last-child {
    border-right: none;
}

.number {
    color: #f3f3f3;
    text-shadow: 0 0 1px #3f3f3f;
    background: #020aff;
}

.operation {
    background: #ff8102;
}

.equals {
    background: #fb02ff;
}

.button-pressed {
    background: #ffff02;
}

#empty {
    background: #f3f3f3;
    cursor: auto;
}