*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}

h1 {
    margin: 50px auto;
    color: purple;
}

section {
    margin: 0 auto;
    width: 440px;
    height: 440px;
    
    box-shadow: 10px 10px 5px #3f3f3f;
}