*, *:before, *:after {
    box-sizing: border-box;
    
    border: 2px dotted green;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}

h1 {
    margin: 50px auto;
    color: purple;
}

.calculator {
    margin: 0 auto;
    width: 440px;
    height: 440px;
    
    box-shadow: 10px 10px 5px #3f3f3f;
    
    display: flex;
    flex-direction: column;
}

.buttons {
/*
    margin-top: 5px;
    margin-bottom: 5px;
*/
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.button {
    border: 5px solid black;
    width: 50px;
    
    font-size: 1.2em;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    background: #f3f3f3;
    border-bottom-color: #050505;
    border-right-color: #383838;
    border-top-color: #fbfbfb;
    border-left-color: #e2e2e2;
}

.number-pressed {
    background: #5a5a5a;
    border-bottom-color: #000;
    border-right-color: #000;
    border-top-color: #eaeaea;
    border-left-color: #d1d1d1;
}

.operation {
    background: rgb(255,0,0);
}