*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}

h1 {
    margin: 50px auto;
    color: purple;
}

.calculator {
    margin: 0 auto;
    width: 400px;
    
    box-shadow: 0 0 50px 5px #3f3f3f;
    
    display: flex;
    flex-direction: column;
    align-content: stretch;
    
    border: 10px solid black;
}

.screen {
    padding: 0 15px;
    background: #0b0;
    text-align: right;
    font-size: 1.5em;
    
    border-bottom: 5px solid black;
}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
}

.button {
    width: 100%;
    
    font-size: 1.2em;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    background: #f3f3f3;
}
.number-pressed {
    background: #5a5a5a;
}

.operation {
    background: #f00;
}
.operation-pressed {
    background: #ff0;
}

.equals {
    background: #dde02e;
}