@import url('https://fonts.googleapis.com/css?family=Gugi');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    
    color: #212121;
}

.calculator {
    margin: 100px auto;
    width: 400px;
    
    box-shadow: 0 0 50px 5px #3f3f3f;
    
    display: flex;
    flex-direction: column;
    align-content: stretch;
    
    border: 10px solid black;
}

.screen {
    padding: 0 15px;
    background: #27ae60;
    text-align: right;
    font-size: 1.5em;
    font-family: 'Gugi', cursive;
    letter-spacing: .075em;
    
    border-bottom: 5px solid black;
    box-shadow: inset 0 5px 0 0 #17693a;
}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    
    border-bottom: 1px solid #f1c40f;
}
.buttons:last-child {
    border-bottom: none;
}

.button {
    width: 100%;
    
    font-size: 1.2em;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-right: 1px solid #f1c40f;
}
.button:last-child {
    border-right: none;
}

.number {
    background: #2980b9;
}

.operation {
    background: #f39c12;
}

.equals {
    background: #8e44ad;
}

.button-pressed {
    background: #f1c40f;
}

#empty {
    background: #f3f3f3;
    cursor: auto;
}